:root {
    --mainColor: #56E39F;
    --secondaryColor: #465775;
    --darkMainColor: #59C9A5;
    --lightMainColor: #B8E3BD;
    --borderColor: #CCCCCC;
    --white: #FAFAFA;
    --black: #252525;
    --salmonColor: #EF6F6C;
    --greyColor: #666666;
    --textFont: "Noto Sans", sans-serif;
    --bigTitleFont: "Righteous", sans-serif; /* Font for buttons and big titles */
    --smallTitleFont: "Fira Sans Extra Condensed", sans-serif; /* Font small titles */
}

@keyframes fadeInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .adminLoginBox {
    opacity: 0;
    transform: translateX(100%);
  }
  
  .adminLoginBox.show {
    animation: fadeInFromRight 0.3s ease-out forwards;
  }

@keyframes fadeOutToRight {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  
  .adminLoginBox.hide {
    animation: fadeOutToRight 0.3s ease-out forwards;
  }
  

.adminLoginBox {
    position: absolute;
    top: 250px;
    right: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 625px;
    height: 380px;
    background-color: var(--white);
    border-radius: 50px;

    h2 {
        justify-self: flex-start;
        font-family: var(--smallTitleFont);
        color: var(--black);
        font-size: 30px;
        font-weight: 500;
    }

    .adminLoginForm {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: var(--textFont);
        
        .adminUsernameBox {
            display: flex;
            flex-direction: column;
            align-items: center;

            label {
                align-self: flex-start;
                margin-left: 10px;
                color: var(--greyColor);
            }
            
            input {
                width: 290px;
                height: 40px;
                border-radius: 8px;
                border: 1px solid var(--borderColor);
                padding-left: 20px;
                font-size: 16px;
                cursor: auto;
            }
        }
        
        .adminPasswordBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;

            label {
                align-self: flex-start;
                margin-left: 10px;
                color: var(--greyColor);
            }
            
            input {
                width: 290px;
                height: 40px;
                border-radius: 8px;
                border: 1px solid var(--borderColor);
                padding-left: 20px;
                font-size: 16px;
                cursor: auto;
            }
        }
    }
    
    .adminLoginButtons {
        display: flex;
        justify-content: center;
        gap: 30px;
        font-family: var(--textFont);
    
        .cancelButton {
            cursor: pointer;
            width: 150px;
            height: 50px;
            border-radius: 50px;
            background-color: var(--white);
            border: 1px solid var(--salmonColor);
            color: var(--salmonColor);
            font-weight: 600;
            transition-duration: 0.3s;
        }

        .cancelButton:hover {
            transition-duration: 0.3s;
            background-color: var(--salmonColor);
            color: var(--white);
        }
        
        .connectButton {
            cursor: pointer;
            width: 150px;
            height: 50px;
            border-radius: 50px;
            background-color: var(--salmonColor);
            border: 1px solid var(--salmonColor);
            color: var(--white);
            font-weight: 600;
            transition-duration: 0.3s;
        }

        .connectButton:hover {
            transition-duration: 0.3s;
            background-color: var(--white);
            color: var(--salmonColor);
        }
    }
    
}
